Fiz cadastro nesse site para enviar dados pero email:  https://www.emailjs.com/
    
https://www.emailjs.com/
Email: wbsc.dev@gmail.com
senha: @Selmer1259

Service ID = service_67v3z2j
Template ID = template_8s0qe8r
Public Key = u4YZ6gksf6ZK1nHPC
